.product {
  background-color: #2e4057;
  border-radius: 15px;
  color: #0f1c2e;
  padding-bottom: 10px;
  width: 250px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.product:hover {
  transform: scale(1.1);
}

.product-header {
  padding-top: 10px;
  height: 10px;
}
.header-title {
  padding: 10px;
  color: white;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 700;
}

.label-price {
  color: #e0e0e0;
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5;
}
